<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>Created by {{name}}</p>
        <form>
            <input placeholder="place">
            <button>summit</button>
        </form>
        <p id="msg1"></p>
        <p id="msg2"></p>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>